@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ====================================================
reset style
==================================================== */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px; /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

main {
  display: block;
}

section {
  position: relative;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* ====================================================
Media Quary
==================================================== */
/* ====================================================
// flexセット
==================================================== */
/* ====================================================
画像などを縦横比を維持したままレスポンシブ対応
*画像やGoogle Map、YouTubeの埋め込みなどを縦横比を維持したままレスポンシブ対応
.photo {
  // 画像を16:9にトリミングして縦横比を常に保つ
  @include aspect-ratio(16, 9);

  & > .image {
    @include object-fit(cover);
  }
}
==================================================== */
@media screen and (min-width: 835px) {
  .mbpc-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-100 {
    margin-bottom: 100px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-100 {
    margin-bottom: 100px !important;
  }
}
.mb0 {
  margin-bottom: 0 !important;
}

body {
  color: #1F1F1F;
  font-family: "Helvetica Neue", serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-weight: 300;
  overflow-x: hidden;
  background: #FAFAFA;
}

a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.7;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  a {
    display: inline-block;
  }
}
@media screen and (min-width: 835px) {
  a[href^=tel] {
    pointer-events: none;
  }
}
@media screen and (max-width: 834px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 834px) {
  .pc {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .pc-tb {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .pc-lg {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .pc-sm {
    display: none !important;
  }
}
@media screen and (max-width: 380px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 835px) {
  .sp {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .sp-tb {
    display: none !important;
  }
}
@media screen and (min-width: 991px) {
  .sp-lg {
    display: none !important;
  }
}
@media screen and (min-width: 751px) {
  .sp-sm {
    display: none !important;
  }
}

.u-fn-hover {
  display: inline-block;
}
@media screen and (min-width: 835px) {
  .u-fn-hover {
    transition: all 0.2s;
  }
  .u-fn-hover:hover {
    opacity: 0.7;
  }
}

.u-pull--left {
  margin-left: calc((100vw - 100%) / 2 * -1);
}
.u-pull--right {
  margin-right: calc((100vw - 100%) / 2 * -1);
}

.c-fc--white {
  color: white !important;
}
.c-fc--black {
  color: black !important;
}

.c-al--c {
  text-align: center !important;
}
.c-al--r {
  text-align: right !important;
}
.c-al--l {
  text-align: left !important;
}

.c-pull--left {
  margin-left: calc((100vw - 100%) / 2 * -1);
}
.c-pull--right {
  margin-right: calc((100vw - 100%) / 2 * -1);
}
.c-pull {
  margin: 0 min(-5vw, (100% - 100vw) / 2);
}

/* ====================================================
Component
==================================================== */
.c-txt__basic {
  font-size: 1.6rem;
  line-height: 1.5;
}

.c-ttl__01 {
  display: block;
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.4;
  font-weight: 500;
  position: relative;
  margin-bottom: 15px;
}
@media screen and (max-width: 834px) {
  .c-ttl__01 {
    font-size: 2.4rem;
  }
}
.c-ttl__01:after {
  content: "";
  width: 36px;
  height: 36px;
  background: url("../img/common/arrow-right.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  margin: 0 0 -5px 15px;
}
@media screen and (max-width: 834px) {
  .c-ttl__01:after {
    margin-bottom: -10px;
  }
}
.c-ttl__01 span {
  color: #F68F19;
}

.c-btn__01 {
  display: inline-block;
  line-height: 1;
  color: white;
  background: #F68F19;
  border-radius: 40px;
  font-size: 1.8rem;
  padding: 10px 30px;
}
.c-btn__01--dark {
  background: #454545;
  padding: 10px 20px;
}

.js-scrollin {
  opacity: 0;
  transform: translate(0, 70px);
}
.js-scrollin.active {
  opacity: 1;
  transform: translate(0, 0);
  transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.inner {
  display: block;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  padding-top: 150px;
}
@media screen and (max-width: 1024px) {
  main {
    padding-top: 120px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  background: white;
  border: 1px solid #ccc;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 1.5rem;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-webkit-input-placeholder {
  color: #c6ccd6;
}
.form-control:-moz-placeholder {
  color: #c6ccd6;
}
.form-control::-moz-placeholder {
  color: #c6ccd6;
}
.form-control:-ms-input-placeholder {
  color: #c6ccd6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea.form-control {
  height: 250px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}
@media screen and (max-width: 834px) {
  textarea.form-control {
    height: 222px;
  }
}

.pure-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
@media screen and (max-width: 834px) {
  .pure-list {
    margin-bottom: 28px;
  }
}
.pure-list li {
  margin-right: 39px;
}
@media screen and (max-width: 834px) {
  .pure-list li {
    width: 100%;
    margin: 0 0 2px;
  }
}
.pure-list li:last-child {
  margin-right: 0;
}
.pure-list__input {
  position: relative;
}
.pure-list__input input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.pure-list__input input[type=checkbox] + span:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  -o-border-image: none;
     border-image: none;
  transform: rotate(-45deg) scale(0);
}
.pure-list__input input[type=checkbox]:checked + span:after {
  content: "";
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
.pure-list__input input[type=checkbox]:checked + span:before {
  animation: borderscale 200ms ease-in;
  background: #4F8196;
}
.pure-list__input input[type=radio] + span:after, .pure-list__input input[type=radio] + span:before {
  border-radius: 50%;
}
.pure-list__input input[type=radio]:checked + span:before {
  animation: borderscale 300ms ease-in;
}
.pure-list__input input[type=radio]:checked + span:after {
  transform: scale(1);
}
.pure-list__input span {
  display: block;
  position: relative;
  padding: 10px 0 10px 40px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.pure-list__input span:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 24px;
  height: 24px;
  background: #EDEDED;
  border: 1px solid #718CC7;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.pure-list__input span:after {
  content: "";
  background-color: #718CC7;
  position: absolute;
  top: 18px;
  left: 6px;
  width: 14px;
  height: 14px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}
#header .header-logo {
  display: block;
  width: 150px;
  position: relative;
  z-index: 999;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header .header-top {
  background: #97CC6D;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
#header .header-top ul {
  display: flex;
  flex-wrap: wrap;
}
#header .header-top ul li {
  margin: 0 20px 0 0;
}
@media screen and (max-width: 750px) {
  #header .header-top ul li {
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 380px) {
  #header .header-top ul li {
    margin: 0 12px 0 0;
  }
}
#header .header-top ul li:last-child {
  margin-right: 0;
}
#header .header-top a {
  display: block;
  position: relative;
  padding: 0 0 0 23px;
  color: white;
  font-size: 1.4rem;
}
@media screen and (max-width: 750px) {
  #header .header-top a {
    padding: 0 0 0 20px;
  }
}
#header .header-top a img {
  display: block;
  width: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
#header .header-show {
  padding: 10px 0;
  position: relative;
}
#header .header-show .inner {
  align-items: center;
}
@media screen and (max-width: 1024px) {
  #header .header-show .inner {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  #header .header-nav {
    position: absolute;
    top: 100%;
    width: 80%;
    left: -100%;
    height: calc(100vh - 90px);
    padding: 30px 0 0;
    background: white;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease;
  }
  #header .header-nav.active {
    left: 0;
  }
  #header .header-nav.active:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 150%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
#header .header-nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu {
    display: block;
  }
}
#header .header-nav__menu-item {
  padding: 0 17px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-item {
    padding: 0;
    border-bottom: 1px solid #FAFAFA;
  }
}
#header .header-nav__menu-item a {
  display: block;
  font-size: 1.8rem;
  color: #1F1F1F;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-item a {
    padding: 10px 30px;
  }
}
#header .header-language {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
}
@media screen and (max-width: 1024px) {
  #header .header-language {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}
#header .header-language span {
  display: block;
  position: relative;
  padding: 5px 35px;
  border: 1px solid #8D8D8D;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  #header .header-language span {
    border: none;
  }
}
#header .header-language span:before, #header .header-language span:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#header .header-language span:before {
  width: 24px;
  height: 24px;
  background: url("../img/common/icon-05.png") no-repeat;
  background-size: 100%;
  left: 4px;
}
@media screen and (max-width: 1024px) {
  #header .header-language span:before {
    display: none;
  }
}
#header .header-language span:after {
  width: 13px;
  height: 8px;
  background: url("../img/common/arrow-dow.png") no-repeat;
  background-size: 100%;
  right: 10px;
}
#header .header-language ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  padding: 5px 0;
  display: none;
}
#header .header-language ul li a {
  display: block;
  color: #1F1F1F;
  padding: 5px 0;
}
#header .js-mobile {
  width: 26px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 12;
  display: none;
}
@media screen and (max-width: 1024px) {
  #header .js-mobile {
    display: block;
  }
}
#header .js-mobile span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3px;
  background: #454545;
  border-radius: 3px;
}
#header .js-mobile span:before, #header .js-mobile span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #454545;
  content: "";
  transition: transform 0.3s;
  border-radius: 3px;
}
#header .js-mobile span:before {
  transform: translateY(-250%);
  top: -2px;
  width: 120%;
}
#header .js-mobile span:after {
  transform: translateY(250%);
  bottom: -2px;
  width: 80%;
}
#header .js-mobile--close span {
  background-color: transparent;
}
#header .js-mobile--close span:before, #header .js-mobile--close span:after {
  width: 100%;
  background: #454545;
}
#header .js-mobile--close span:before {
  transform: translateY(0) rotate(45deg);
  top: 2px;
}
#header .js-mobile--close span:after {
  transform: translateY(0) rotate(-45deg);
  bottom: -2px;
}

.js-locked {
  overflow: hidden;
  touch-action: none;
}
.js-locked body {
  -webkit-overflow-scrolling: auto;
}

#footer {
  background: #F5F5F5;
  padding: 50px 0;
  position: relative;
}
#footer .footer-block {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer-block__logo {
  width: 250px;
}
@media screen and (max-width: 834px) {
  #footer .footer-block__logo {
    width: 100%;
    margin-bottom: 30px;
  }
}
#footer .footer-block__logo .footer-logo {
  display: block;
  width: 150px;
  margin-bottom: 30px;
}
#footer .footer-block__sns {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer-block__sns li {
  margin: 0 10px 10px 0;
}
#footer .footer-block__sns li a {
  display: block;
}
#footer .footer-block__sns li a img {
  width: 36px;
}
#footer .footer-block__ct {
  width: calc(100% - 250px);
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 834px) {
  #footer .footer-block__ct {
    width: 100%;
    padding: 0;
    display: block;
  }
}
@media screen and (min-width: 835px) {
  #footer .footer-block__ct-item {
    width: 30%;
    padding: 0 10px 0 0;
  }
}
@media screen and (min-width: 835px) and (max-width: 1024px) {
  #footer .footer-block__ct-item {
    width: 50%;
  }
}
@media screen and (min-width: 835px) {
  #footer .footer-block__ct-item:last-child {
    width: 40%;
    padding-right: 0;
  }
}
@media screen and (min-width: 835px) and (max-width: 1024px) {
  #footer .footer-block__ct-item:last-child {
    width: 100%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 834px) {
  #footer .footer-block__ct-item {
    margin-bottom: 30px;
  }
  #footer .footer-block__ct-item:last-child {
    margin-bottom: 0;
  }
}
#footer .footer-block__ct ul li {
  margin-bottom: 5px;
}
#footer .footer-block__ct ul li:last-child {
  margin-bottom: 0;
}
#footer .footer-block__ct ul li a {
  display: block;
  color: #454545;
}
#footer .footer-block__ct-ttl {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0 0 15px;
}
#footer .footer-block__ct-map {
  position: relative;
  color: black;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  padding: 0 0 0 30px;
  margin: 0 0 15px;
}
#footer .footer-block__ct-map:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/common/icon-09.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#footer .footer-block__ct-note {
  padding: 10px;
  background: #F0EDED;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  margin: 0 0 15px;
}
#footer .footer-block__ct-support {
  margin-bottom: 15px;
}
#footer .footer-block__ct-support a {
  display: inline-block;
  position: relative;
  padding: 0 0 0 25px;
  margin: 0 30px 0 0;
  color: #454545;
}
#footer .footer-block__ct-support a img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
}
#footer .footer-block__ct-nooty img {
  width: 132px;
}
#footer .footer-block__ttl {
  display: block;
  color: #F68F19;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 10px;
}

#backtop {
  display: block;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
}
#backtop.on {
  opacity: 1;
  visibility: visible;
}
#backtop.active {
  position: absolute;
  bottom: auto;
  top: -24px;
}

.mv-list .swiper-slide {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.mv-list .swiper-slide img {
  width: 100%;
  height: 502px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.mv-list .swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, #68271E 100%);
}
@media screen and (max-width: 834px) {
  .mv-list .swiper-slide:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.23%, #68271E 79.33%);
  }
}
.mv-list__note {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  position: absolute;
  bottom: 70px;
  left: 15px;
  right: 15px;
  max-width: 750px;
  margin: 0 auto;
}
@media screen and (max-width: 834px) {
  .mv-list__note {
    font-size: 1.6rem;
    line-height: 1.5;
    bottom: 60px;
  }
}
.mv-list__note p {
  margin-bottom: 20px;
}
.mv-list .swiper-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  padding: 0 30px;
  z-index: 1;
}
@media screen and (max-width: 834px) {
  .mv-list .swiper-pagination {
    justify-content: center;
  }
}
.mv-list .swiper-pagination span {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  margin: 0 5px !important;
  background: none;
}
@media screen and (max-width: 834px) {
  .mv-list .swiper-pagination span {
    width: 8px;
    height: 8px;
  }
}
.mv-list .swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}

.sec-menu {
  padding: 100px 0;
}
@media screen and (max-width: 834px) {
  .sec-menu {
    padding: 50px 0;
  }
}

.heading-note {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 834px) {
  .heading-note {
    margin-bottom: 30px;
  }
}

.show-menu {
  margin: -20px -30px 0;
}
@media screen and (max-width: 834px) {
  .show-menu {
    margin: -20px -20px 0;
  }
}
.show-menu__box {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.show-menu__img {
  position: relative;
}
.show-menu__img:before {
  content: "";
  display: block;
  padding: 120% 0 0;
}
@media screen and (max-width: 834px) {
  .show-menu__img:before {
    padding: 140% 0 0;
  }
}
.show-menu__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.show-menu .swiper-slide {
  -webkit-backface-visibility: hidden;
  transition: all 0.3s ease;
  padding: 50px 30px 0;
}
@media screen and (max-width: 834px) {
  .show-menu .swiper-slide {
    padding: 50px 20px 0;
  }
}
.show-menu .swiper-slide.swiper-slide-active {
  transform: scale(1.18);
}
.show-menu__note {
  display: block;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 20px;
  color: white;
  font-size: 1.4rem;
  padding: 0 0 0 55px;
}
@media screen and (max-width: 834px) {
  .show-menu__note {
    left: 10px;
    right: 10px;
    font-size: 1rem;
  }
}
.show-menu__note img {
  width: 44px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.show-menu__note-ttl {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
}
@media screen and (max-width: 834px) {
  .show-menu__note-ttl {
    font-size: 1.3rem;
  }
}
.show-menu__nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
@media screen and (max-width: 834px) {
  .show-menu__nav {
    margin-top: 50px;
  }
}
.show-menu__nav-next, .show-menu__nav-prev {
  width: 52px;
  height: 52px;
  display: block;
  margin: 0;
  cursor: pointer;
}
@media screen and (max-width: 834px) {
  .show-menu__nav-next, .show-menu__nav-prev {
    width: 26px;
    height: 26px;
  }
}
.show-menu__nav-next {
  background: url("../img/common/next.png") no-repeat;
  background-size: 100%;
}
.show-menu__nav-prev {
  background: url("../img/common/prev.png") no-repeat;
  background-size: 100%;
}
.show-menu__nav-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: auto !important;
  height: 52px;
  top: auto !important;
  bottom: auto !important;
  margin: 0 15px;
}
.show-menu__nav-pagination span {
  width: 8px;
  height: 8px;
  background: #D9D9D9 !important;
  margin: 0 15px !important;
}
@media screen and (max-width: 834px) {
  .show-menu__nav-pagination span {
    margin: 0 7px !important;
  }
}
.show-menu__nav-pagination span.swiper-pagination-bullet-active {
  background: #97CC6D !important;
}

.sec-news {
  padding: 0 0 100px;
}
@media screen and (max-width: 834px) {
  .sec-news {
    padding: 0 0 50px;
  }
}

.news-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-block__first {
  width: 48%;
}
@media screen and (max-width: 834px) {
  .news-block__first {
    width: 100%;
  }
}
.news-block__first-box {
  background: white;
  height: 100%;
  color: #1F1F1F;
  display: block;
  border-radius: 15px;
  padding: 10px;
}
.news-block__first-img {
  position: relative;
}
.news-block__first-img:before {
  content: "";
  display: block;
  padding: 50% 0 0;
}
.news-block__first-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.news-block__first-ct {
  padding: 20px;
}
@media screen and (max-width: 834px) {
  .news-block__first-ct {
    padding: 20px 10px;
  }
}
.news-block__first-ct-category {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  min-width: 142px;
  padding: 5px 15px;
  margin-bottom: 15px;
  background: #F68F19;
  font-size: 1.4rem;
  text-align: center;
}
.news-block__first-ct-ttl {
  display: block;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
}
@media screen and (max-width: 834px) {
  .news-block__first-ct-ttl {
    font-size: 1.7rem;
  }
}
.news-block__list {
  width: 48%;
}
@media screen and (max-width: 834px) {
  .news-block__list {
    width: 100%;
  }
}
.news-block__list-item {
  margin-bottom: 22px;
}
.news-block__list-item:last-child {
  margin-bottom: 0;
}
.news-block__list-item a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  padding: 15px;
  border-radius: 15px;
  color: #1F1F1F;
}
.news-block__list-img {
  width: 100px;
  position: relative;
}
.news-block__list-img:before {
  content: "";
  display: block;
  padding: 100% 0 0;
}
.news-block__list-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.news-block__list-ttl {
  width: calc(100% - 100px);
  padding: 0 0 0 15px;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
}

.sec-banner {
  padding: 100px 0 0;
}
@media screen and (max-width: 834px) {
  .sec-banner {
    padding: 0 0 150px;
  }
}

.banner-note {
  background: #F68F19;
  color: white;
  border-radius: 10px;
  position: relative;
  padding: 50px 5%;
}
@media screen and (max-width: 834px) {
  .banner-note {
    padding: 20px 15px 50px;
  }
}
.banner-note__ct {
  max-width: 414px;
  position: relative;
  z-index: 1;
}
.banner-note__ct-ttl {
  display: block;
  font-size: 3.2rem;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 834px) {
  .banner-note__ct-ttl {
    font-size: 2.4rem;
    line-height: 1.3333333333;
  }
}
.banner-note__ct p {
  margin-bottom: 20px;
}
.banner-note__ct p:last-child {
  margin-bottom: 0;
}
.banner-note__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63%;
}
@media screen and (max-width: 834px) {
  .banner-note__img {
    bottom: auto;
    top: 83%;
    left: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.sec-support {
  padding: 100px 0;
}
@media screen and (max-width: 750px) {
  .sec-support .c-ttl__01:after {
    display: none;
  }
}

.support-list {
  margin: 0 -30px;
}
@media screen and (max-width: 834px) {
  .support-list {
    margin: 0 -15px;
  }
}
.support-list .swiper-slide {
  padding: 0 30px;
}
@media screen and (max-width: 834px) {
  .support-list .swiper-slide {
    padding: 0 15px;
  }
}
.support-list .swiper-slide img {
  width: auto;
  height: 60px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .support-list .swiper-slide img {
    height: 40px;
  }
}
@media screen and (max-width: 834px) {
  .support-list .swiper-slide img {
    height: 30px;
  }
}
.support-list__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 0;
}
.support-list__pagination span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #D9D9D9;
  margin: 0 7px !important;
}
@media screen and (max-width: 834px) {
  .support-list__pagination span {
    width: 8px;
    height: 8px;
  }
}
.support-list__pagination .swiper-pagination-bullet-active {
  background: #F68F19;
}

.sec-game {
  padding: 0 0 100px;
}
@media screen and (max-width: 834px) {
  .sec-game {
    padding: 0 0 50px;
  }
}

.mv-game {
  position: relative;
  margin-bottom: 80px;
}
@media screen and (max-width: 834px) {
  .mv-game {
    margin-bottom: 50px;
  }
}
.mv-game__nav-img {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.mv-game__nav-img img {
  width: 100%;
  height: 486px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.mv-game__nav-img:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) 33.73%, rgba(0, 0, 0, 0.8) 87.01%);
}
.mv-game__nav-ct {
  position: absolute;
  bottom: 100px;
  left: 40px;
  right: 40px;
  color: white;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  max-width: 564px;
}
@media screen and (max-width: 834px) {
  .mv-game__nav-ct {
    left: 15px;
    right: 15px;
  }
}
.mv-game__nav-ct-ttl {
  display: block;
  margin-bottom: 15px;
  font-size: 3.2rem;
  font-weight: 500;
}
@media screen and (max-width: 834px) {
  .mv-game__nav-ct-ttl {
    font-size: 2.4rem;
  }
}
.mv-game__for {
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
}
@media screen and (max-width: 834px) {
  .mv-game__for {
    bottom: 15px;
    left: 15px;
    right: 15px;
  }
}
.mv-game__for .swiper-slide {
  width: 54px;
  cursor: pointer;
}
.mv-game__for .swiper-slide-thumb-active .mv-game__for-img {
  background: #F68F19;
}
.mv-game__for-img {
  width: 54px;
  height: 54px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 13px;
  padding: 3px;
}
.mv-game__for-img img {
  width: 47px;
  height: 47px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
  border-radius: 10px;
}

.game-ttl {
  display: block;
  font-size: 3.2rem;
  line-height: 1.4;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
}

.game-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}
@media screen and (max-width: 1024px) {
  .game-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 750px) {
  .game-list {
    grid-template-columns: 1fr;
  }
}
.game-list__item {
  position: relative;
}
.game-list__img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.game-list__img:before {
  content: "";
  display: block;
  padding: 45% 0 0;
}
.game-list__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.game-list__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.8) 100%);
}
.game-list__ct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 10px 20px;
}
@media screen and (max-width: 834px) {
  .game-list__ct {
    padding: 10px 15px;
  }
}
.game-list__ct-ttl {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.3333333333;
  font-weight: 500;
  position: relative;
  padding: 0 0 0 45px;
}
.game-list__ct-ttl img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.game-list__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 0 0;
}
.game-list__option .c-btn__01 {
  padding-right: 15px;
  padding-left: 15px;
}
.game-list__sns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.game-list__sns li {
  padding: 5px 10px;
}
.game-list__sns li img {
  width: 24px;
}
/*# sourceMappingURL=maps/styles.css.map */
