@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--orange{
		color: $orange !important;
	}
	&--red{
		color: $red !important;
	}
}








.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
    margin: 0 min(-5vw, (100% - 100vw) / 2);
}










/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include fts(16,24);
		text-align: justify;
	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		text-align: center;
		@include font-size(32);
		line-height: 1.4;
		font-weight: 500;
		position: relative;
		margin-bottom: 15px;
		@include mq(){
			@include font-size(24);
		}
		&:after{
			content: "";
			width: 36px;
			height: 36px;
			background: url("../img/common/arrow-right.png")no-repeat;
			background-size: 100%;
			display: inline-block;
			margin: 0 0 -5px 15px;
			@include mq(){
				margin-bottom: -10px;
			}
		}
		span{
			color: $orange;
		}
	}
	&__02{
		display: block;
		@include font-size(32);
		line-height: 1.4;
		font-weight: 500;
		margin-bottom: 30px;
	}

	&__03{
		@include font-size(20);
		font-weight: 500;
		margin-bottom: 15px;
	}
	&__04{
		display: block;
		text-align: center;
		@include font-size(24);
		font-weight: 500;
		margin-bottom: 30px;
	}
}

//btn
.c-btn{
	&__01{
		display: inline-block;
		line-height: 1;
		color: white;
		background: $orange;
		border-radius: 40px;
		@include font-size(18);
		padding: 10px 30px;
		&--dark{
			background: #454545;
			padding: 10px 20px;
			&:hover{
				color: white;
				background: $orange;
			}
		}
	}
	&__02{
		display: inline-block;
		line-height: 1;
		color: white;
		background: $orange;
		border-radius: 5px;
		@include font-size(24);
		padding: 15px 30px;
		border: none;
		outline: none;
		cursor: pointer;
		@include smooth-transition;
		text-align: center;
		&:hover{
			opacity: 0.7;
		}
	}
}

.view-more{
	display: inline-block;
	position: relative;
	@include font-size(16);
	line-height: 1;
	color: #454545;
	padding: 0 25px 0 0;
	&:after{
		content: "";
		width: 18px;
		height: 8px;
		background: url("../img/common/arrow-right02.png")no-repeat;
		background-size: 100%;
		position: absolute;
		@include v-align;
		right: 0;
	}
	&:hover{
		opacity: 1;
		&:after{
			background: url("../img/common/arrow-right03.png")no-repeat;
			background-size: 100%;
		}
	}
}
.view-more02{
	width: 200px;
	height: 45px;
	border-radius: 45px;
	@include flex(0,center,wrap);
	color: $orange;
	border: 1px solid $orange;
	@include font-size(14);
	padding: 10px 20px;
	position: relative;
	&:after{
		content: "";
		width: 28px;
		height: 8px;
		background: url("../img/common/arrow-right03.png")no-repeat;
		background-size: 100%;
		position: absolute;
		@include v-align;
		right: 20px;
	}
}

time{
	display: inline-block;
	position: relative;
	padding: 0 0 0 25px;
	@include font-size(16);
	line-height: 1;
	color: #454545;
	&:before{
		content: "";
		width: 16px;
		height: 16px;
		background: url("../img/common/calendar.png")no-repeat;
		background-size: 100%;
		position: absolute;
		@include v-align;
		left: 0;
	}
}


