@use "vars" as *;

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: white;
	box-shadow: 0 0 10px 0 rgba(black,0.16);
	.header-logo{
		display: block;
		width: 150px;
		position: relative;
		z-index: 10;
	}
	.inner{
		@include flex(between,0,wrap);
	}
	.header-top{
		background: $green;
		padding: 10px 0;
		ul{
			@include flex(0,0,wrap);
			li{
				margin: 0 20px 0 0;
			}
		}
		a{
			display: block;
			position: relative;
			padding: 0 0 0 23px;
			color: white;
			@include font-size(14);
			img{
				display: block;
				width: 16px;
				position: absolute;
				@include v-align;
				left: 0;
			}
		}
	}
	.header-show{
		padding: 10px 0;
		.inner{
			align-items: center;
		}
	}
	.header-nav{
		@include mq(tb){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			padding: 60px 20px 0;
			overflow-y: scroll;
			&.active{
				display: block;
			}
		}
		&__menu{
			@include flex(center,center,wrap);
			&-item{
				padding: 11px 17px;
				position: relative;
				a{
					display: block;
					@include font-size(18);
					color: $basic;
				}
			}
		}
	}
	.header-language{
		position: relative;
		text-align: center;
		@include font-size(16);
		span{
			display: block;
			position: relative;
			padding: 5px 35px;
			border: 1px solid #8D8D8D;
			border-radius: 20px;
			cursor: pointer;
			&:before,&:after{
				content: "";
				display: block;
				position: absolute;
				@include v-align;
			}
			&:before{
				width: 24px;
				height: 24px;
				background: url("../img/common/icon-05.png")no-repeat;
				background-size: 100%;
				left: 4px;
			}
			&:after{
				width: 13px;
				height: 8px;
				background: url("../img/common/arrow-dow.png")no-repeat;
				background-size: 100%;
				right: 10px;
			}
		}
		ul{
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: white;
			padding: 5px 0;
			display: none;
			li{
				a{
					display: block;
					color: $basic;
					padding: 5px 0;
				}
			}
		}
	}
	.js-mobile {
		width: 26px;
		height: 30px;
		position: absolute;
		right: 20px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(tb){
			display: block;
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 100%;
			height: 2px;
			background: #333;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #333;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -6px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -6px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: #333;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}