<section class="contact-inc c-txt__basic c-al--c">
	<div class="inner">
		<p>
			Liên hệ với chúng tôi qua Hotline
		</p>
		<a href="tel:19008686" class="contact-inc__tel">1900 8686</a>
		<p class="contact-inc__note">
			Hãy gọi ngay để được giải đáp mọi thắc mắc của bạn<br>
			một cách nhanh chóng và chính xác.
		</p>
		<p>
			Thời gian hỗ trợ: 08:00 – 17:00
		</p>
	</div>
</section>