<main id="page-<%= pageData.template %>" class="main-other">
	<section class="mv-account">
		<h1 class=c-ttl__02>Đăng nhập</h1>
	</section>
	<section class="sec-account">
		<div class="inner">
			<div class="account-block c-txt__basic">
				<div class="account-block__item">
					<input type="text" class="form-control input-user" placeholder="Số điện thoại hoặc email">
				</div>
				<div class="account-block__item">
					<input type="password" class="form-control input-pass" placeholder="Mật khẩu">
					<span class="show-pass"><img src="<%= RELATIVE_PATH %>img/account/eye.png" alt="img"></span>
				</div>
				<div class="c-al--r">
					<a href="">Quên mật khẩu</a>
				</div>
				<div class="account-block__sub">
					<button type="button" class="c-btn__02">ĐĂNG NHẬP</button>
				</div>
				<div class="c-al--c">
					Bạn chưa có tài khoản? <a href="">Đăng ký</a>
				</div>
			</div>
		</div>
	</section>
</main>