<main id="page-<%= pageData.template %>">
	<section class="support-content">
		<div class="inner inner--small">
			<h2 class="c-ttl__05 c-fc--orange mbpc-10 mbsp-10">Frequently Asked Questions</h2>
			<div class="c-txt__basic c-al--c  mbpc-30 mbsp-20">
				<p>
					Find answers to common questions about our products and services
				</p>
			</div>
			<div class="support-search">
				<input type="text" class="form-control" placeholder="Bạn gặp vấn đề gì?">
				<button type="button" class="support-search__btn">
					<img src="<%= RELATIVE_PATH %>img/common/search02.png" alt="img">
				</button>
			</div>
			<ul class="support-fill support-fill--center">
				<li><a href="" class="active">Tất cả</a></li>
				<li><a href="">Chung</a></li>
				<li><a href="">Tài khoản</a></li>
				<li><a href="">Thanh toán</a></li>
				<li><a href="">Kỹ thuật</a></li>
			</ul>
			<div class="support-qa support-qa--02 c-txt__basic">
				<h4 class="c-ttl__03 c-fc--orange">General Questions</h4>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>
						We offer a comprehensive range of services including web development, cloud solutions, digital marketing, and technical support. Our team of experts is dedicated to providing high-quality solutions tailored to your specific needs.
					</dd>
				</dl>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
				<h4 class="c-ttl__03 c-fc--orange">Account Management</h4>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
				<h4 class="c-ttl__03 c-fc--orange">Billing & Payments</h4>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
				<h4 class="c-ttl__03 c-fc--orange">Technical Support</h4>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
				<dl>
					<dt>What services do you offer?</dt>
					<dd>text</dd>
				</dl>
			</div>
		</div>
	</section>
	<%- include('common/_contact'); %>
	<%- include('common/_popup-game'); %>
</main>