<main id="page-<%= pageData.template %>">
	<section class="support-content">
		<div class="inner">
			<h2 class="c-ttl__02 c-fc--orange c-al--c ">Tạo yêu cầu hỗ trợ</h2>
			<ul class="support-steps">
				<li>
					<div class="support-steps__status support-steps__status--first active">
						<img src="<%= RELATIVE_PATH %>img/top/menu-icon.png" alt="3CGAME">
					</div>
					<h3 class="support-steps__ttl">Trò chơi</h3>
					<p>
						Võ Hiệp Truyền Kỳ 2 Mobile
					</p>
				</li>
				<li>
					<div class="support-steps__status active">
						2
					</div>
					<h3 class="support-steps__ttl">Vấn đề</h3>
					<p>
						Chọn vấn đề
					</p>
				</li>
				<li>
					<div class="support-steps__status">
						3
					</div>
					<h3 class="support-steps__ttl">Chi tiết</h3>
					<p>
						Điền thông tin
					</p>
				</li>
			</ul>
			<div class="support-contact c-txt__basic">
				<h3 class="c-ttl__04 c-fc--orange">Nhập chi tiết phiếu hỗ trợ</h3>
				<div class="support-contact__note">
					<p>
						<span>Để được quá trình hỗ trợ dễ dàng và nhanh chóng, vui lòng nhập đầy đủ chi tiết thông tin</span>
					</p>
				</div>
				<div class="contact-block__form">
					<dl>
						<dt>Vấn đề</dt>
						<dd>
							<input type="text" class="form-control" placeholder="Hỗ trợ sản phẩm">
						</dd>
					</dl>
					<dl>
						<dt>Sản phẩm game tham gia</dt>
						<dd>
							<input type="text" class="form-control" placeholder="Võ Hiệp Truyền Kỳ 2 Mobile">
						</dd>
					</dl>
					<dl>
						<dt>Vấn đề</dt>
						<dd>
							<input type="text" class="form-control" placeholder="0868100296">
						</dd>
					</dl>
					<dl>
						<dt>Máy chủ hiện tại <span class="c-fc--red">(*)</span></dt>
						<dd>
							<input type="text" class="form-control" placeholder="Sever mà bạn đang cần hỗ trợ">
						</dd>
					</dl>
					<dl>
						<dt>Tên nhân vật  <span class="c-fc--red">(*)</span></dt>
						<dd>
							<input type="text" class="form-control" placeholder="Tên nhân vật cần hỗ trợ">
						</dd>
					</dl>
					<dl>
						<dt>Thời gian gặp lỗi  <span class="c-fc--red">(*)</span></dt>
						<dd>
							<input type="text" class="form-control" placeholder="Thời gian gặp vấn đề lỗi">
						</dd>
					</dl>
					<dl>
						<dt>Mô tả  <span class="c-fc--red">(*)</span></dt>
						<dd>
							<textarea class="form-control" placeholder="Mô tả chi tiết vấn đề bạn cần hỗ trợ"></textarea>
						</dd>
					</dl>
					<div class="contact-block__form-file">
						<p>
							<strong>Tệp tin đính kèm</strong><br>
							(Hỉnh ảnh, dữ liệu liên quan tới<br>
							vấn đề bạn cần hỗ trợ.)
						</p>
						<div class="file-custom" id="uploadBox-img">
							<input type="file" id="fileInput-img">
							<span id="uploadText-img">Đính kèm hình ảnh lỗi (nếu có)</span>
						</div>
					</div>
					<div class="contact-block__form-sub">
						<button type="button" class="c-btn__02">Gửi yêu cầu</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('common/_contact'); %>
	<%- include('common/_popup-game'); %>
</main>